node_modules/
dist/
.DS_Store
.pnpm-store/
npm-debug.log*
yarn-error.log*
.idea/
.vscode/
*.tsbuildinfo
.pnp.*
.env
.envrc


# Local implementations (private repos) for additional testing and dev work
local_examples

*storybook.log
storybook-static
CLAUDE.md
examples/backend/db.sqlite3
__pycache__/
examples/backend/.venv/
