name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write # Publish GitHub release
  issues: write # Comment on released issues
  pull-requests: write # Comment on released PRs
  id-token: write # OIDC (npm provenance if you later publish to npm)

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Enable Corepack
        run: corepack enable

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Configure npm
        # Adding an npmrc file seems to be needed even though we have the
        # registry configured and are using WIF!
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc

      - name: Setup Node.js (with pnpm cache)
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies (lockfile strict)
        run: pnpm install --frozen-lockfile

      - name: Semantic release
        run: pnpm dlx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
